SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/usr/share/ublue-os/scripts/on_battery.sh"
SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/usr/share/ublue-os/scripts/on_ac.sh"